## 과제1_2020150434_노지예

### Q1. 재테크

In [ ]:
day=0
a=int(input())
b=int(input())

while(a<b): # A잔고 < B잔고 동안 루프 
    day=day+1
    if(day%2==1): # day가 홀수일 때
        a=a+10000
    else:         # day가 짝수일 때
        a=a*1.07

    b=b*1.02

print(day)

10000
500000
84

### Q2. 완전수

In [ ]:
num=int(input())
sum=0

# 약수 찾기  
for i in range(1,num): # 1~(num-1) 중에서
    if(num%i==0):      # num을 나누어떨어뜨리는 i
        sum=sum+i      

if(sum==num):
    print("YES")
else:
    print("NO")

155
NO

### Q3. 게임

In [ ]:
keys=input().split() # 참가자
values=input().split() # 지목 

info={}
for i in range(0,len(keys)):
    info[keys[i]]=values[i]
# {이서:원영, 원영:유진, 유진:이서} dictionary 생성

start=input() # 첫번째 참가자 
N=int(input()) 


i=1
turn=info[start] # info[이서]==원영 이므로 turn=원영 
while(i<N): 
    turn=info[turn] # 첫번째 루프에서 info[원영]==유진이므로 turn=유진
    i=i+1 
print(turn) # N-1번째 루프에서 N번째 지목 결과가 turn에 저장됨

가을 원영 유진 이서
원영 가을 이서 유진
원영
17
가을

### Q4 개교 기념

In [ ]:
names=input().split()
sang=["고","려","대"]

count=0
for name in names:
    if((name[-1] in sang) == True):
    # name의 마지막 글자가 sang.list에 존재한다면  
        count=count+1  

print(count)

김고려 최고 박안암
2

## Q5. 유니크

In [ ]:
word=input()
length=len(word)

for i in range(0,length): # word의 첫번째~마지막 글자에 대하여여
    if(word[i] in word[0:i])==True: # (i+1)th 글자가 1~i번째에 존재하면 
        print("NO")                 # [i]          [0]~[i-1]
        break 
    elif (word[i] in word[i+1:])==True: # (i+1)th 글자가 i+2~마지막에 존재하면 
        print("NO")                     # [i]          [i+1]~[length-1]
        break
else:
    print("YES")

pear
YES